@use "./global";
@use "./variables";
@use "./mixins";

.about {
  .hero {
    background-image: url("http://localhost:5173/assets/images/outreach.jpg");
  }

  .journey {
    width: 100%;
    background-color: variables.$colors-accent-900;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      padding: 4rem 1rem;

      @include mixins.respond-to(large) {
        padding: 9.38rem 0 4.69rem 0;
      }
    }

    .intro-text {
      color: variables.$colors-neutral-700;
      text-align: center;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 160%;
      max-width: 640px;

      @include mixins.respond-to(large) {
        font-size: 1.25rem;
      }
    }
  }

  .s-o-f {
    padding: 4.69rem 0;
    width: 100%;
    background-color: variables.$colors-accent-900;

    .body-text {
      color: variables.$colors-accent-600;
    }
  }

  .leadership {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    background-color: variables.$colors-neutral-700;
    background-image: url("http://localhost:5173/assets/images/outreach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 70vh;

    @include mixins.respond-to(large) {
      height: 50vh;
    }

    h3 {
      color: variables.$colors-primary-900;
      text-align: center;
      text-transform: capitalize;
      font-family: inherit;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -1.12px;
      margin-bottom: 1rem;

      @include mixins.respond-to(large) {
        margin-bottom: 2rem;
      }
    }

    p {
      text-align: center;
      max-width: 640px;
      color: #fff;
      text-align: center;
      font-family: inherit;
      margin: 0 auto;
      font-size: 1rem;
      font-weight: 400;
      line-height: 140%;
    }

    .user-action {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin-top: 2rem;

      @include mixins.respond-to(large) {
        margin-top: 4rem;
      }

      a {
        text-align: center;
      }
    }
  }

  .strategic-plan {
    padding: 4rem 0;
    background-color: variables.$colors-accent-900;

    @include mixins.respond-to(large) {
      padding: 9.375rem 0;
    }

    h3 {
      color: variables.$colors-neutral-800;
      text-align: center;
      text-transform: capitalize;
      font-family: inherit;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -1.12px;
      margin-bottom: 2rem;

      @include mixins.respond-to(large) {
        margin-bottom: 4rem;
      }
    }

    .center-width__full {
      margin-top: 2rem;

      @include mixins.respond-to(large) {
        margin-top: 4rem;
      }
    }
  }

  .core-values {
    background-color: variables.$colors-neutral-850;
    padding: 4rem 0;

    @include mixins.respond-to(large) {
      padding: 9.375rem 0;
    }

    h3 {
      width: 100%;
      text-align: center;
      color: variables.$colors-neutral-150;
      margin-bottom: 3rem;
      text-transform: capitalize;
    }

    &__grid {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @include mixins.respond-to(large) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &--single {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
        padding: 2rem;

        @include mixins.respond-to(large) {
          width: calc((100% - 4rem) / 3);
        }

        &_title {
          color: variables.$colors-neutral-200;
          text-align: center;
          text-transform: capitalize;
        }

        &_body {
          color: variables.$colors-neutral-650;
          text-align: center;
        }
      }
    }
  }
}

.downloads-list {
  padding: 4rem 0;

  &__single {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    &__image {
      width: 4rem;
      height: 4rem;
      border-radius: 0.25rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: variables.$colors-accent-800;
        display: grid;
        place-content: center;
      }
    }
  }
}
