@use "./variables";

.hero {
  display: grid;
  place-content: center;
  margin-top: -104px;
}

.media-card {
  width: 100%;
  height: 100vh;
  background-color: variables.$colors-neutral-150;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 5rem;
    margin: 0;
    color: #242424;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
    letter-spacing: -0.1rem;

    &-h1 {
      font-size: 10rem;
      letter-spacing: -0.4rem;
      color: variables.$colors-neutral-150;
    }

    &-h2 {
      font-size: 5rem;
      letter-spacing: -0.2rem;
      color: variables.$colors-neutral-150;
    }

    .smiley {
      width: 6rem;
      height: 6rem;
      display: inline-block;
      transform: translateX(3px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: rotate-45s 6s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }
    }
  }

  &__text {
    color: variables.$colors-neutral-100;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 2.75rem;
  }

  &__CTAs-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.75rem;
  }
}

.video-container,
.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.height-70 {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

video,
.background-img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  max-width: 51.25rem;
}

// Button Styles start
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: fit-content;
  height: 3.5rem;
  padding: 0.75rem 1.5rem;
  border: 1px transparent;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;

  &__primary {
    background-color: variables.$colors-primary-900;
    color: variables.$colors-neutral-900;
    border: 1px solid variables.$colors-primary-900;
  }

  &__secondary {
    background-color: transparent;
    color: variables.$colors-neutral-900;
    border: 1px solid variables.$colors-neutral-650;

    &-outline-white {
      color: variables.$colors-neutral-100;
      border: 1px solid variables.$colors-neutral-100;
    }
    &-outline-gray-thick {
      color: variables.$colors-neutral-900;
      border: 4px solid variables.$colors-accent-800;
    }
  }

  &__dark {
    background-color: variables.$colors-neutral-900;
    color: variables.$colors-neutral-100;
    border: 1px solid variables.$colors-neutral-900;
  }

  .icon {
    display: grid;
    place-content: center;
  }
}

.button__fill-to-fill {
  padding: 16px 24px;
  font-family: inherit;
  font-weight: 500;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border: none;
  overflow: hidden;
  border-radius: 2rem;
  z-index: 1;
  background: variables.$colors-primary-900;
  color: variables.$colors-neutral-850;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    border-radius: 2rem;
    background: variables.$colors-secondary-900;
    transition: all 0.3s ease;
  }

  &:hover {
    color: rgb(0, 0, 0);
    color: variables.$colors-neutral-100;

    &:after {
      left: auto;
      right: 0;
      width: 100%;
    }

    .icon svg path {
      stroke: #ffffff;
    }
  }

  &:active {
    top: 2px;
  }

  .icon {
    display: grid;
    place-content: center;

    svg path {
      stroke: #141414;
      transition: all 0.4s ease;
    }
  }
}

.button__outline-to-fill {
  padding: 16px 24px;
  font-family: inherit;
  font-weight: 500;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border: none;
  overflow: hidden;
  border-radius: 2rem;
  z-index: 1;
  background: transparent;
  color: variables.$colors-neutral-150;
  border: 2px solid variables.$colors-neutral-150;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2rem;
    direction: rtl;
    z-index: -1;
    background: variables.$colors-primary-900;
    transition: all 0.3s ease;
  }

  &:hover {
    color: variables.$colors-neutral-850;

    &:after {
      left: auto;
      right: 0;
      width: 100%;
    }
  }

  &:active {
    top: 2px;
  }

  .icon {
    display: grid;
    place-content: center;

    svg path {
      stroke: variables.$colors-neutral-850;
      transition: all 0.4s ease;
    }
  }
}
// Button Styles End

.action-icon {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  border: none;
  cursor: pointer;
  background: rgba(239, 235, 232, 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.dot-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  &__in-stock {
    background-color: #5bac81;
  }
  &__out-of-stock {
    background-color: #eb001b;
  }
}

.content-list {
  width: 100%;
  background-color: variables.$colors-accent-900;
  padding: 9.38rem 0;
  // border-top: 1px solid #242424;

  .layout {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 4rem;
    border-top: 1px solid variables.$colors-accent-800;
    padding-top: 2rem;
  }

  &__title {
    color: variables.$colors-neutral-900;
    max-width: 50%;
    flex: 1;
  }

  nav {
    flex: 1;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 4rem;
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: variables.$colors-accent-800;
    }

    .links {
      min-width: calc((100% - 4rem) / 2);
      width: calc((100% - 4rem) / 2);
      border-bottom: 1px solid variables.$colors-accent-800;
      padding-bottom: 2rem;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        text-decoration: none;
        text-transform: capitalize;
        color: #242424;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 88%; /* 17.6px */
        letter-spacing: -0.4px;

        .inline-center {
          transition: transform 0.2s ease-in-out;
        }

        &:hover .inline-center {
          transform: translateX(0.5rem);
        }
      }
    }
  }
}

//Tabs navigation
.tabs {
  display: flex;
  border-radius: 2rem;
  background-color: variables.$colors-secondary-100;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: fit-content;
  font-size: 14px;

  .tab {
    padding: 10px 20px;
    color: variables.$colors-neutral-850;
    font-family: "Satoshi Variable";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border-radius: 2rem;

    &.active {
      background-color: variables.$colors-secondary-900;
      color: variables.$colors-primary-900;
    }
  }
}

.tab-content {
  width: 100%;
  display: none;
  color: #8a8a8a;

  &.active {
    display: block;
  }
}

.bn {
  color: #808080;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
}

.col-3__content-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;

  &--single {
    width: calc((100% - 4rem) / 3);

    &__icon {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      border-bottom: 1px solid variables.$colors-neutral-800;
    }

    .title__large {
      color: variables.$colors-neutral-800;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }

    .body-text {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

.col-2__grid {
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  flex-wrap: wrap;
  gap: 4rem;

  &--icon-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    width: calc((100% - 4rem) / 2);
  }
}
