<<<<<<< HEAD
.focus {
  width: 100px;
=======
@use "./global";
@use "./variables";
@use "./mixins";

.focus {
  .hero {
    background-image: url("http://localhost:5173/assets/images/clg-leadership.jpg");
    background-color: variables.$colors-neutral-700;
    height: 60vh;

    @include mixins.respond-to(large) {
      height: 60vh;
    }
  }

  .rich-content {
    padding: 4rem 1rem;
    max-width: 640px;
    margin: 0 auto;

    @include mixins.respond-to(large) {
      padding: 9.325rem 1rem;
    }

    &__subject-content {
      padding: 2rem 0;

      @include mixins.respond-to(large) {
        padding: 4rem 0;
      }

      h1 {
        font-size: 24px;
        font-family: inherit;
        font-weight: bold;
        margin-bottom: 1rem;
        color: variables.$colors-neutral-800;
        font-style: normal;
        line-height: 120%;

        @include mixins.respond-to(large) {
          font-size: 32px;
        }
      }

      h2 {
        font-size: 20px;
        font-family: inherit;
        font-weight: bold;
        margin-bottom: 1rem;
        color: variables.$colors-neutral-800;
        font-style: normal;
        line-height: 120%;

        @include mixins.respond-to(large) {
          font-size: 24px;
        }
      }

      h3 {
        font-size: 16px;
        font-family: inherit;
        font-weight: bold;
        margin-bottom: 1rem;
        color: variables.$colors-neutral-800;
        font-style: normal;
        line-height: 120%;

        @include mixins.respond-to(large) {
          font-size: 20px;
        }
      }

      h4 {
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        margin-bottom: 1rem;
        color: variables.$colors-neutral-800;
        font-style: normal;
        line-height: 120%;

        @include mixins.respond-to(large) {
          font-size: 16px;
        }
      }

      p {
        font-size: 16px;
        font-family: inherit;
        font-weight: 400;
        margin-bottom: 2rem;
        color: #808080;
        font-style: normal;
        line-height: 180%;
      }

      blockquote {
        background-color: variables.$colors-neutral-200;
        color: variables.$colors-secondary-900;
        padding: 2rem;
        border-left: 4px solid variables.$colors-primary-900;
        margin-bottom: 2rem;

        @include mixins.respond-to(large) {
          padding: 2rem 2rem 2rem 4rem;
        }
      }

      a {
        color: variables.$colors-primary-900;
        text-decoration: underline;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }

      img,
      video {
        width: 100%;
        height: auto;
      }

      ol {
        margin: 0;
        padding-left: 1.5rem;
        list-style-position: inside;
        margin-bottom: 2rem;

        li {
          margin-bottom: 0.5rem;
          font-size: 16px;
          font-family: inherit;
          font-weight: 400;
          color: #808080;
          font-style: normal;
        }
      }
    }
  }
>>>>>>> main
}
