@use "./global";
@use "./variables";

.footer {
  width: 100%;
  max-width: 100%;
  background-color: variables.$colors-accent-900;

  .featured-events {
    display: flex;
    flex-direction: column;

    .linked-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5px;
    }
    .section-title {
      color: #242424;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 88%;
      letter-spacing: -0.07rem;
      text-transform: capitalize;
      margin: 0;
    }

    .content-grid {
      display: flex;
      flex-direction: row;
      align-items: center;
      // padding: 0 6.25rem;
      width: 100%;

      .featured-event-single {
        display: flex;
        flex-direction: column;
        // align-items: start;
        min-width: calc((100% - 15rem) / 3);
        width: calc((100% - 15rem) / 3);
        padding: 3.75rem;

        &:first-of-type {
          padding: 3.75rem 3.75rem 3.75rem 6.25rem;
        }

        &:last-of-type {
          background-color: red;
          padding: 3.75rem 6.25rem 3.75rem 3.75rem;
        }

        .image {
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .give-breaker {
    width: 100%;
    background-color: variables.$colors-secondary-900;
    background-image: url("http://localhost:5173/assets/images/support.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 9.38rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      color: variables.$colors-neutral-150;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 88%;
      letter-spacing: -0.045rem;
      margin: 0 0 1rem 0;
      max-width: 640px;
      text-align: center;
      text-transform: capitalize;
    }

    p {
      max-width: 49rem;
      color: variables.$colors-neutral-200;
      text-align: center;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin: 0 0 2rem 0;
    }
  }

  .dark-footer {
    background-color: variables.$colors-neutral-850;
  }

  &__top {
    padding: 4rem 0 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8rem;

    .staff-login {
      margin-top: 3rem;
    }

    &-links {
      display: flex;
      flex: 1;
      gap: 2rem;
      justify-content: space-between;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 1rem;

          &:hover a {
            color: #fff;
          }
        }
      }

      .column-title {
        font-family: inherit;
        font-size: 1rem;
        color: variables.$colors-neutral-100;
        margin: 0 0 1.25rem 0;
        font-weight: 700;
      }

      .footer-hrefs {
        color: variables.$colors-neutral-650;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
      }

      .contact-info {
        &__phone {
          display: flex;
          gap: 1rem;

          .numbers {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5rem;
          }
        }
        &__mail {
          display: flex;
          gap: 1rem;
          align-items: center;
        }
      }
    }

    .subscribe {
      .subscribe-form {
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.2);
        height: 4rem;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        display: flex;
        align-items: center;

        input {
          flex: 1;
          border: none;
          background-color: transparent;
          height: 100%;

          &:focus {
            outline: none;
          }
        }

        button {
          height: 100%;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #222222;
    color: #626262;
    padding: 2rem 0;

    .legal {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 2rem;
      color: variables.$colors-neutral-400;

      a {
        color: variables.$colors-neutral-400;
        text-decoration: none;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .social-icons {
      width: fit-content;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
