@use "./global";
@use "./variables";
@use "./mixins";

.footer {
  width: 100%;
  max-width: 100%;
  background-color: variables.$colors-accent-900;

  .featured-events {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    @include mixins.respond-to(large) {
      padding-top: 9.375rem;
    }

    .linked-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      h2 {
        color: variables.$colors-neutral-850;
        text-transform: capitalize;
      }
    }

    .content-grid {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      border-top: none;
      position: relative;
      margin-bottom: 1rem;

      @include mixins.respond-to(large) {
        border-top: 1px solid variables.$colors-neutral-800;
        flex-direction: row;
        margin-bottom: 0;
      }

      .featured-event-single {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex: 1;
        width: 100%;
        padding-bottom: 2rem;

        @include mixins.respond-to(large) {
          min-width: calc((100% - 15rem) / 3);
          width: calc((100% - 15rem) / 3);
          padding: 3.75rem;
        }

        .date {
          color: #a4a4a8;
          font-family: inherit;
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 1.5rem;
          letter-spacing: -0.011rem;
          padding: 0 1rem;
          margin-top: 0.5rem;

          @include mixins.respond-to(large) {
            padding: 0;
          }
        }
        .title {
          color: variables.$colors-neutral-800;
          font-family: inherit;
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.8rem;
          padding: 0 1rem;

          @include mixins.respond-to(large) {
            padding: 0;
          }
        }

        &:first-of-type {
          border-left: none;
          border-right: none;

          @include mixins.respond-to(large) {
            border-left: 1px solid variables.$colors-neutral-800;
            border-right: 1px solid variables.$colors-neutral-800;
          }
        }

        &:last-of-type {
          background-color: variables.$colors-neutral-850;

          .title {
            color: #faf8f0;
          }
        }

        .image {
          width: 100%;
          height: 250px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .give-breaker {
    width: 100%;
    background-color: variables.$colors-secondary-900;
    background-image: url("http://localhost:5173/assets/images/support.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 9.38rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      color: variables.$colors-neutral-150;
      font-style: normal;
      font-weight: 700;
      line-height: 88%;
      letter-spacing: -0.045rem;
      margin: 0 0 1rem 0;
      max-width: 640px;
      text-align: center;
      text-transform: capitalize;

      @include mixins.respond-to(large) {
        margin: 0 auto 2rem auto;
      }
    }

    p {
      color: variables.$colors-secondary-100;
      margin-bottom: 2rem;
      max-width: 49rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      line-height: 140%;

      @include mixins.respond-to(large) {
        margin: 0 auto 4rem auto;
        font-size: 1.2rem;
      }
    }

    a {
      margin: 0 auto;
    }
  }

  .dark-footer {
    background-color: variables.$colors-neutral-850;
  }

  &__top {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8rem;

    .staff-login {
      margin-top: 3rem;
    }

    &-links {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 2rem;
      justify-content: space-between;

      @include mixins.respond-to(large) {
        flex-direction: row;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 1rem;

          &:hover a {
            color: #fff;
          }
        }
      }

      .column-title {
        font-family: inherit;
        font-size: 1rem;
        color: variables.$colors-neutral-100;
        margin: 0 0 1.25rem 0;
        font-weight: 700;
      }

      .footer-hrefs {
        color: variables.$colors-neutral-650;
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: 400;
        display: inline-block;
        width: 100%;
      }

      .contact-info {
        &__phone {
          display: flex;
          gap: 1rem;

          .numbers {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5rem;
          }
        }
        &__mail {
          display: flex;
          gap: 1rem;
          align-items: center;
        }

        &__map {
          display: flex;
          gap: 1rem;
          align-items: flex-start;

          p {
            color: variables.$colors-neutral-650;
            font-size: 0.875rem;
            margin: 0;
          }
        }

        .certifications {
          margin-top: 2rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 2rem;

          img {
            width: 80px;
            height: auto;
          }
        }
      }

      .company {
        &__list-wrapper {
          margin-bottom: 2rem;

          &--single {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: variables.$colors-neutral-650;
            font-family: inherit;
            font-size: 0.875rem;
          }
        }
      }
    }

    .subscribe {
      .subscribe-form {
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.2);
        height: 4rem;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        display: flex;
        align-items: center;

        input {
          flex: 1;
          border: none;
          background-color: transparent;
          height: 100%;
          color: variables.$colors-neutral-400;

          &:focus {
            outline: none;
          }
        }

        button {
          height: 100%;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #222222;
    color: variables.$colors-neutral-650;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include mixins.respond-to(large) {
      flex-direction: row;
    }

    .legal {
      display: flex;
      flex-direction: column-reverse;
      flex: 1;
      align-items: center;
      gap: 2rem;
      color: variables.$colors-neutral-400;
      margin-top: 2rem;

      @include mixins.respond-to(large) {
        flex-direction: row;
        margin-top: 0;
      }

      p,
      a {
        color: variables.$colors-neutral-650;
        text-decoration: none;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .social-icons {
      width: fit-content;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
