@use "./variables";

.hero {
  &.give {
    background-color: variables.$colors-secondary-900;
    background-image: url("http://localhost:5173/assets/images/outreach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 50vh;
  }

  h2 {
    margin-bottom: 2.625rem;
    color: variables.$colors-primary-900;
  }

  p {
    max-width: 49rem;
    margin-bottom: 2.625rem;
    color: hsl(0, 0%, 96%);
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .nudge-down {
    display: block;
    animation: bounce 2s infinite ease-in-out;
  }
}

.give-options {
  padding: 9.375rem;

  .tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title__large {
      color: variables.$colors-neutral-800;
      margin-bottom: 1rem;
    }

    .title__small {
      color: variables.$colors-neutral-800;
    }
  }

  .title {
    color: #242424;
    margin: 2rem 0;
    text-align: center;
  }

  .form-give {
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    background-color: variables.$colors-neutral-150;
    border-radius: 0.5rem;
    margin: 0 auto;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .form-control {
      width: 100%;
      border-radius: 3rem;
      border: 1px solid #e4e4e4;
      padding: 1rem;

      &::placeholder {
        color: #aeaeae;
      }

      &.select {
        border-radius: 3rem;
      }
    }
  }

  .submit {
    width: 100%;
    margin-top: 2rem;
  }
}
