@use "./global";
@use "./variables";
@use "./mixins";

.hero {
  &.give {
    background-image: url("http://localhost:5173/assets/images/outreach.jpg");
  }
}

.give-options {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: variables.$colors-accent-900;

  @include mixins.respond-to(large) {
    padding: 9.375rem;
  }

  .tabs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title__large {
      color: variables.$colors-neutral-800;
    }

    .title__small {
      color: variables.$colors-neutral-800;
    }
  }

  .title {
    color: variables.$colors-neutral-800;
    margin: 2rem 0;
    text-align: center;
  }

  .form-give {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    background-color: variables.$colors-neutral-100;
    border-radius: 0.5rem;

    @include mixins.respond-to(large) {
      padding: 2rem;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .form-control {
      width: 100%;
      border-radius: 3rem;
      border: 1px solid #e4e4e4;
      padding: 1rem;

      &::placeholder {
        color: #aeaeae;
      }

      &.select {
        border-radius: 3rem;
      }
    }
  }

  .submit {
    width: 100%;
    margin-top: 2rem;
  }
}
