@use "./variables";

.header {
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &.scrolled {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.62);
  }

  &__layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      padding: 0.5rem 0;

      img {
        width: 80px;
        height: auto;
      }
    }
  }

  &__navbar {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      list-style: none;

      li {
        margin: 0;
        padding: 1rem 0;
        position: relative;
        font-size: 0.875rem;

        a {
          color: variables.$colors-neutral-850;
          text-decoration: none;
        }

        &:hover .dropdown {
          display: flex;
          flex-direction: column;
          gap: 0;
          transform: scale(1, 1);
        }

        .dropdown {
          transform: scale(1, 0);
          position: absolute;
          top: 100%;
          left: 0;
          background-color: variables.$colors-neutral-100;
          border-radius: 1rem;
          min-width: 250px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          list-style: none;
          padding: 1rem 0;
          margin: 0;

          // Caret
          &::before {
            content: "";
            position: absolute;
            top: -6px;
            left: 20px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid variables.$colors-neutral-100;
          }

          li {
            padding: 0;
            width: 100%;

            a {
              color: #333;
              text-decoration: none;
              display: flex;
              padding: 0.5rem 1rem;
              line-height: 120%;

              &:hover {
                background-color: variables.$colors-neutral-250;
              }
            }
          }

          .inner-dropdown {
            position: absolute;
            top: 0%;
            right: 100%;
            background-color: variables.$colors-neutral-100;
            border-radius: 1rem 0 1rem 1rem;
            min-width: 250px;
            list-style: none;
            padding: 1rem 0;
            margin: 0;
          }
        }
      }

      li:has(> ul) > ul {
        display: none !important;
      }

      li:has(> ul):hover > ul {
        display: block !important;
      }
    }
  }
}
