$colors-neutral-900: hsl(0, 0%, 0%);
$colors-neutral-850: hsl(0, 0%, 4%);
$colors-neutral-800: hsl(213, 13%, 14%);
$colors-neutral-700: hsl(0, 0%, 37%);
$colors-neutral-650: hsl(0, 0%, 50%);
$colors-neutral-600: hsl(210, 2%, 83%);
$colors-neutral-550: hsl(0, 0%, 92%);
$colors-neutral-500: hsl(0, 0%, 90%);
$colors-neutral-400: hsl(0, 0%, 91%);
$colors-neutral-300: hsl(0, 0%, 93%);
$colors-neutral-250: hsl(0, 0%, 95%);
$colors-neutral-200: hsl(0, 0%, 96%);
$colors-neutral-150: hsl(0, 0%, 98%);
$colors-neutral-100: hsl(0, 0%, 100%);

$colors-meta: hsl(0, 0%, 46%);
$colors-slate: hsl(0, 0%, 55%);

$colors-primary-900: hsl(57, 100%, 48%);
$colors-secondary-900: hsl(217, 100%, 37%);
$colors-secondary-100: hsl(217, 100%, 96%);

$colors-accent-900: hsl(48, 100%, 92%);
$colors-accent-800: hsl(49, 64%, 73%);
$colors-accent-700: hsl(49, 44%, 51%);
$colors-accent-600: hsl(49, 58%, 39%);

// --------- BREAKPOINTS -------------------
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 1200px
);
